<div class="px-4 py-5 my-5 text-center">
  <h1 class="display-5 fw-bold">Register</h1>
  <div class="col-lg-6 mx-auto">
    <p class="lead">Register with us, and let us take care of the rest.</p>
  </div>
</div>

<div class="row justify-content-center">

  <% if(infoSubmitObj != '') { %>
    <div class="col-8 alert alert-success" role="alert">
      <%= infoSubmitObj %>
    </div>
  <% } %>

  <% if(infoErrorsObj != '') { %>
    <div class="col-8 alert alert-danger" role="alert">
      <%= infoErrorsObj[0].message %>
    </div>
  <% } %>

  <div class="col-8">

    <form action="/register" enctype="multipart/form-data" method="POST">
    
      <div class="row g-3">

        <div class="col-12">
          <label for="email" class="form-label">Email</label>
          <input type="email" name="email" id="email" class="form-control" required>
        </div>

        <div class="col-12">
          <label for="name" class="form-label">Name</label>
          <input type="text" name="name" id="name" class="form-control" required>
        </div>
        
     

        <div class="col-12">
          <label for="image">Contact</label>
          <input type="number" class="form-control" name="contact">
        </div>
        <div class="col-12">
          <label for="image">Password</label>
          <input type="password" pattern="(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{8,}"
          title="Must contain at least one  number and one uppercase and lowercase letter, and at least 8 or more characters" class="form-control" name="password">
        </div>
        <div class="col-12">
          <a href="/login">Have an account?login here</a>
          <button type="submit" class="btn btn-primary">Register</button>
        </div>

      </div>
    
    </form>

  </div>
</div>